= content_for :carousel do
  = render 'partials/carousel'

- @main_offers.each_with_index do |good, index|
  %hr.featurette-divider
  .row.featurette
    - if index.odd?
      .col-md-7
        %h2.featurette-heading
          = "#{good.title}, #{good.brand.title}"
        .h4
          = "Горячая цена: #{number_to_rubls(good.price)}"
      .col-md-5
        = link_to good_path(good) do
          = image_tag(good.main_image.picture.url(:big))
    - else
      .col-md-7
        = link_to good_path(good) do
          = image_tag(good.main_image.picture.url(:big))
      .col-md-5
        %h2.featurette-heading

          = "#{good.title}, #{good.brand.title}"
        .h4
          = "Горячая цена: #{number_to_rubls(good.price)}"
