= content_for :carousel do
  = render 'partials/carousel'

.row
  - @main_offers.each do |good|
    .col-lg-4
      = image_tag good.main_image(:big), class: 'img-circle', style: 'width: 140px; height: 140px;'
      %h2
        #{good.title}, #{good.brand.title}
      %p
        Специальная цена: #{number_to_rubls(good.price)}
      %p
        = link_to 'Узнать больше »', good_path(good), class: 'btn btn-default'