#myCarousel.carousel.slide{ data: { ride: 'carousel' } }
  %ol.carousel-indicators
    - @carousels.each_with_index do |carousel, index|
      %li{ class: ('active' if carousel.main), data: { 'slide-to' => "#{index}", target: '#myCarousel' } }

  .carousel-inner
    - @carousels.each_with_index do |carousel, index|
      %div{ class: "item #{'active' if carousel.main}" }
        %img{ alt: "Slide #{index}", src: carousel.picture.url(:cropped) }
        .container
          .carousel-caption
            %h1
              = carousel.header
            %p
              = carousel.content_text

  = link_to '#myCarousel', class: 'left carousel-control', role: 'button', data: { slide: 'prev' } do
    %span.glyphicon.glyphicon-chevron-left
  = link_to '#myCarousel', class: 'right carousel-control', role: 'button', data: { slide: 'next' } do
    %span.glyphicon.glyphicon-chevron-right

.container.marketing
  .row
    - @categories.each do |category|
      .col-lg-4
        = image_tag(category.picture.url(:icon), style: 'width: 140px; height: 140px;', class: 'img-circle')
        %h2
          = category.name
        %p
          Небольшое описание категории товара
        %p
          = link_to 'Подробнее', categories_path(category), class: 'btn btn-default'

  - @main_offers.each_with_index do |main_offer, index|
    %hr.featurette-divider
    .row.featurette
      - if index.odd?
        .col-md-7
          %h2.featurette-heading
            = main_offer.header
          %p.lead
            = main_offer.content_text
        .col-md-5
          = image_tag(main_offer.picture.url(:main_thumb), class: 'featurette-image img-responsive')
      - else
        .col-md-5
          = image_tag(main_offer.picture.url(:main_thumb), class: 'featurette-image img-responsive')
        .col-md-7
          %h2.featurette-heading
            = main_offer.header
          %p.lead
            = main_offer.content_text

  %hr.featurette-divider/

  %footer
    %p.pull-right
      = link_to 'Наверх', '#'
    %p
      © 2014 Fresh Style
      -#%a{:href => "#"} Privacy
      -#·
      -#%a{:href => "#"} Terms
