- if @goods.any?
  .row
    .h3.col-md-offset-1

      = "В корзине #{@goods.count} товаров"
      -##. Общая стоймость #{@goods.sum(:price)}"

  - @hash.each do |data|
    - good = @goods.select{|g| g.id = data['id']}.first
    .row
      .col-md-offset-1.col-md-3
        - if good.main_image.present?
          = link_to good_path(good), class: 'thumbnail' do
            = image_tag(good.main_image.picture.url(:basket))

      .col-md-offset-1.col-md-7
        .h3
          = "#{good.category.name}, #{good.brand.title}"
        .h5
          = "Страна производитель: #{good.origin_country.name}"
        .h5
          = "Стоймость: #{number_to_rubls(good.price)}"
        .h5
          = "Выбранный размер: #{data['size']}"

        = link_to 'К товару', good_path(good), class: 'btn btn-info'
        = link_to 'Удалить из корзины', '#', class: 'remove_good_from_basket btn btn-danger', data: {good_id: good.id}

  .row
    .h3
      .col-md-offset-6.col-md-3
        Общая стоймость:
      .col-md-3
        = number_to_rubls(@price)

  %br
  .row
    .col-md-offset-8
      = link_to 'Очистить корзину', '#', class: 'clear_basket btn btn-danger'
      = link_to 'Оформить заказ', new_order_path, class: 'btn btn-primary'

- else
  Корзина пуста