.page-header
  %h3 В корзине #{@processor.goods_count} товаров

- if @processor.any_goods?
  - @processor.goods_wrappers.each do |wrapper|
    - if wrapper.exist
      - good = wrapper.good
      .row
        .col-xs-offset-1.col-xs-4
          = link_to good_path(good), class: 'thumbnail' do
            = image_tag(good.main_image(:basket))

        .col-xs-5
          %h4 #{good.category.name}, #{good.title}, #{good.brand.title}
          %h5 Страна производитель: #{good.origin_country.name}
          %h5 Страна дизайна: #{good.design_country.name}
          %h5 Цвет: #{good.color}
          %h5
            Выбранный размер:
            %span.size{ data: { size: wrapper.size } }= wrapper.size
          %h5
            Стоимость:
            %span.label.label-danger{ style: 'font-size:100%;' }
              #{number_to_currency(good.cost)}

          = link_to good_path(good), class: 'btn btn-info' do
            %span.glyphicon.glyphicon-search
            К товару

          = link_to '#', class: 'remove_good_from_basket btn btn-danger', data: { good_id: good.id } do
            Удалить из корзины
            %span.glyphicon.glyphicon-remove

  .row
    .col-xs-offset-5.col-xs-7
      %h3
        Итого:
        %span.label.label-danger{ style: 'font-size:100%;' }
          #{number_to_currency(@processor.total_price)}
      %br
      = link_to '#', class: 'clear_basket btn btn-danger' do
        %span.glyphicon.glyphicon-trash
        Очистить корзину

      = link_to new_order_path, class: 'btn btn-success' do
        Оформить заказ
        %span.glyphicon.glyphicon-chevron-right
