= form_for [:admin, @page] do |f|

  = render partial: 'partials/errors', locals: { model: @page }

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :content
    = f.cktext_area :content, class: 'form-control'

  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'