.row
  .col-md-offset-4.col-md-4.text-center
    .h3
      Отправить сообщение

.row
  = form_for @message, url: client_messages_path, method: :post, html: { class: 'form-horizontal' } do |f|
    .form-group

      = f.label :name, class: 'col-md-offset-2 col-md-2 control-label'
      .col-md-4
        = f.text_field :name, class: 'form-control'
        = error_text(:name, @message)

    .form-group
      = f.label :email, class: 'col-md-offset-2 col-md-2 control-label'
      .col-md-4
        = f.text_field :email, class: 'form-control'
        = error_text(:email, @message)

    .form-group
      = f.label :content, class: 'col-md-offset-2 col-md-2 control-label'
      .col-md-4
        = f.text_area :content, class: 'form-control'
        = error_text(:content, @message)

    .col-md-offset-5.col-sm-2
      = f.submit 'Отправить сообщение', class: 'btn btn-primary btn-block'