%div.menu
  .menu_items
    %li
      = link_to 'Каталог товаров', '#'
    %li
      = link_to 'Распродажа', '#'
    %li
      = link_to 'Товары для мужчин', '#'
    %li
      = link_to 'Товары для женщин', '#'
    %li
      = link_to 'Оплата и доставка', '#'
