-#.footer
  .row
    .col-xs-4
    .col-xs-4
      .col-xs-4
        ывф
      .col-xs-4
        8 (912) 789-54-46
      .col-xs-4
        заказать звонок беслпатно
    .col-xs-4

  .row
    .col-xs-2
    .col-xs-8.footer_menu
      .col-xs-3.menu_item
        = link_to 'О нас', '#'
      .col-xs-3.menu_item
        = link_to 'Доставка и оплата', '#'
      .col-xs-3.menu_item
        = link_to 'Договор публичной оферты', '#'
      .col-xs-3.menu_item
        = link_to 'Таблица размеров', '#'
    .col-xs-2

  .row
    .col-xs-5
    .col-xs-2
      .col-xs-6
        VK
      .col-xs-6
        FB
    .col-xs-5

  .row
    .col-xs-4
    .col-xs-4
      Fresh Style - ваш проводник в мир высокой моды. На сайте представлена уникальная возможность приобрести вещи из прошлых коллекций с беспрецедентными скидками!
      Карта сайта
    .col-xs-4

  .row
    .col-xs-4
    .col-xs-4
      способы оплаты
    .col-xs-4

  .row
    .col-xs-2
    .col-xs-8
      subscription
    .col-xs-2
%footer
  %hr.featurette-divider
  %p
    © 2014 Fresh Styles ·
    - pages.each do |page|
      = link_to page.title, page
      ·

  %p.pull-right
    = link_to 'Наверх', '#'
