%h2.page-header
  = t('order.orders')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('user')
        %th
          = human_name('goods')
        %th
          = human_name('price')
        %th
          = human_name('name')
        %th
          = human_name('address')
        %th
          = human_name('created_at')
        %th(width=70)

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td
            [use no user order]
            -#= link_to order.user.name, admin_user_path(order.user)
          %td= raw(order.goods.map{|g| link_to(g.title, admin_good_path(g))}.join(', '))
          %td= order.price
          %td= order.full_name
          %td= order.address
          %td= l(order.created_at, format: :short)
          %td
            = show_button(admin_order_path(order))
            = delete_button(admin_order_path(order))
