%h2.page-header
  = t('order.orders')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('goods')
        %th
          = human_name('price')
        %th
          = human_name('name')
        %th
          = human_name('phone')
        %th
          = human_name('email')
        %th
          = human_name('state')
        %th
          = human_name('address')
        %th
          = human_name('created_at')
        %th(width=70)

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td
            - order.order_goods.each do |pack|
              = link_to "#{pack.good.title} (#{pack.good.brand.title})", admin_good_path(pack.good)
              %span.label.label-warning.white-text
                = link_to "#{pack.good.article}", admin_good_path(pack.good)
              = ", размер #{pack.size.name}"
              %br
          %td= number_to_rubls(order.price)
          %td= order.full_name
          %td= order.phone
          %td= mail_to(order.email)
          %td
            = order_state_label(order)
          %td= order.address
          %td= l(order.created_at, format: :long)
          %td
            = show_button(admin_order_path(order))
            = delete_button(admin_order_path(order))

