= devise_error_messages!
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f|
  %h2.form-signin-heading Изменение пароля
  = f.hidden_field :reset_password_token
  = f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'Пароль', class: 'form-control top'
  = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Повтор пароля', class: 'form-control bottom'
  = f.submit 'Изменить', class: 'btn btn-lg btn-primary btn-block'

  = render 'devise/shared/links'
