.jumbotron
  .container-fluid
    .col-lg-2
      = link_to root_path do
        = image_tag 'logo_fresh.png', height: 80
      %h4 Интернет-магазин
    .col-lg-2
      %h5 Женская одежда
      %h5 Детская одежда
      %h5 Аксессуары
    .col-lg-2
    .col-lg-2
      %h5
        = link_to baskets_path do
          Корзина
          %span.badge.basket_count_label
            0
    .col-lg-4
      %h5
        Контакты:
        = link_to '+7 (916) 779-45-70', 'tel:+79167794570'
      %h5
        = link_to 'Оставить сообщение', new_client_message_path
        (
        = link_to ' заказать обратный звонок ', new_back_call_path
        )
      %h5= link_to 'Доставка', Page.where("LOWER(title) LIKE '%доставка%'").first
      %h5= link_to 'Оплата', Page.where("LOWER(title) LIKE '%оплата%'").first || '#'