= form_for @order, html: { class: 'form-horizontal'} do |f|

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :name, class: 'form-control'
    .col-sm-4
      = error_text(:name, @order)

  .form-group
    = f.label :family, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :family, class: 'form-control'
    .col-sm-4
      = error_text(:family, @order)

  .form-group
    = f.label :second_name, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :second_name, class: 'form-control'
    .col-sm-4
      = error_text(:second_name, @order)

  .form-group
    = f.label :city, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :city, class: 'form-control'
    .col-sm-4
      = error_text(:city, @order)

  .form-group
    = f.label :post_index, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :post_index, class: 'form-control'
    .col-sm-4
      = error_text(:post_index, @order)

  .form-group
    = f.label :street, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :street, class: 'form-control'
    .col-sm-4
      = error_text(:street, @order)

  .form-group
    = f.label :phone, class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :phone, class: 'form-control'
    .col-sm-4
      = error_text(:phone, @order)


  .form-group
    .col-sm-offset-2.col-sm-4
      - label = content_tag(:span, ' Заказать' , class: 'glyphicon glyphicon-ok')
      = f.button label, class: 'btn btn-success btn-lg btn-block'

