.page-header
  %h3 Оформление заказа

- @processor.goods_wrappers.each do |wrapper|
  - if wrapper.exist
    - good = wrapper.good
    .row
      .col-xs-offset-2.col-xs-2
        = link_to good_path(good), class: 'thumbnail', title: 'К товару' do
          = image_tag(good.main_image(:admin_thumb))

      .col-xs-7
        %h4
          #{good.category.name}, #{good.title}, #{good.brand.title}
        %h5
          Размер:
          %span.size
            = wrapper.size
        %h5
          Стоимость:
          %span.label.label-danger{ style: 'font-size:100%;' }
            #{number_to_rubls(good.cost)}

.row
  .col-xs-offset-4.col-xs-7
    .h4
      Итого:
      %span.label.label-danger{ style: 'font-size:100%;' }
        #{number_to_rubls(@processor.total_price)}
%hr
= render partial: 'form'
