.page-header
  %h3 Оформление заказа

- @processor.goods_wrappers.each do |wrapper|
  - if wrapper.exist
    - good = wrapper.good
    .row
      .col-md-offset-2.col-md-2
        = link_to good_path(good), class: 'thumbnail', title: 'К товару' do
          = image_tag(good.main_image(:admin_thumb))

      .col-md-7
        %h4
          #{good.category.name}, #{good.title}, #{good.brand.title}
        %h5
          Размер:
          %span.size
            = wrapper.size
        %h5
          = "Стоимость: #{number_to_rubls(good.cost)}"

.row
  .col-md-offset-4.col-md-7
    .h4
      Общая стоимость: #{number_to_rubls(@processor.total_price)}
%hr
= render partial: 'form'
