= form_for [:admin, @back_call]  do |f|

  = render partial: 'admin/shared/errors', locals: { model: @back_call }

  %h5
    При сохранении заявка будет отмечена как обработанная. Добавте комментарий чтобы ничего не забыть.

  %br
  .row
    .col-xs-4
      .form-group
        = f.label :phone
        = @back_call.phone

  .row
    .col-xs-4
      .form-group
        = f.label :comment
        = f.text_area :comment, class: 'form-control'

  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'