%h2.page-header
  = t('country.countries')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('name')
        %th(width=50)

    %tbody
      - @countries.each do |country|
        %tr
          %td= country.id
          %td= country.name

          %td
            = edit_button(edit_admin_country_path(country))
            = delete_button(admin_country_path(country))

= content_for :side_bar do
  = add_button(new_admin_country_path)
