= nested_form_for @good, url: admin_good_image_path(id: @good.id), method: :put  do |f|
  = f.hidden_field :id

  = render partial: 'admin/shared/errors', locals: { model: @good }

  = f.fields_for :images do |image|
    .row
      .col-xs-3
        = image.file_field :picture
      .col-xs-3
        = image.label :main_image, 'Главное изображение', style: 'font-weight:normal;'
        = image.check_box :main_image, checked: image.object.main_image?, class: 'radio-box'
      .col-xs-3
        - if image.object.picture.present?
          = image_tag image.object.picture(:admin_thumb)
      .col-xs-3
        = image.link_to_remove 'Удалить изображение', class: 'btn btn-danger btn-sm'
    %hr
  = f.link_to_add 'Добавить фотографию', :images, class: 'btn btn-default'
  %br
  %br
  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'