= form_for [:admin, @carousel]  do |f|

  = render partial: 'admin/shared/errors', locals: { model: @carousel }

  .form-group
    = f.label :header
    = f.text_field :header, class: 'form-control'

  .form-group
    = f.label :content_text
    = f.text_field :content_text, class: 'form-control'

  .form-group
    = f.label :main
    = f.check_box :main, class: 'form-control'

  .form-group
    = f.label :picture
    = f.file_field :picture, class: 'form-control'

  .form-group
    Загруженное изображение:
    - if @carousel.picture.present?
      = image_tag(@carousel.picture(:small))

  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'