%h2.page-header
  = t('carousel.carousels')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('header')
        %th
          = human_name('content_text')
        %th
          = human_name('main')
        %th
          = human_name('image')
        %th
          = human_name('created_at')
        %th(width=70)

    %tbody
      - @carousels.each do |carousel|
        %tr
          %td= carousel.id
          %td= carousel.header
          %td= carousel.content_text
          %td= carousel.main
          %td= image_tag(carousel.picture.url(:small))
          %td= l(carousel.created_at, format: :long)
          %td
            = edit_button(edit_admin_carousel_path(carousel))
            = delete_button(admin_carousel_path(carousel))

= content_for :side_bar do
  = add_button(new_admin_carousel_path)