.col-xs-4
  = link_to good_path(good) do
    = image_tag good.main_image(:basket)
  %h2
    #{good.title}, #{good.brand.title}
  %p
    Специальная цена:
    %span.label.label-danger{ style: 'font-size:100%;' }
      #{number_to_rubls(good.cost)}
  %p
    = link_to 'Узнать больше »', good_path(good), class: 'btn btn-default'