= form_for :filter, url: goods_path, method: :get do |f|
  = f.text_field :season, value: @filter.season
  = f.text_field :category_id, value: @filter.category_id
  = f.text_field :brand_id, value: @filter.brand_id
  = f.text_field :size_id, value: @filter.size_id
  = f.submit

.row
  .col-md-6.text-left
    [TODO: BRAND AND SIZE filters ]
  .col-md-6.text-right
    = will_paginate @goods

.row
  .col-md-offset-3.col-md-6.text-center
    .h3
      = @category.name

.row
  .col-md-offset-3.col-md-6.text-center
    = link_to "Осень/зима (#{Good.winter.count})", '#'
    = link_to "Весна/Лето (#{Good.summer.count})", '#'

.row
  .col-md-offset-3.col-md-6.text-center
    [TODO: brands of these category]


- @goods.in_groups_of(4).each do |group|
  .row
    - group.each do |good|
      - if good
        = render partial: 'good_cell', locals: {good: good}

.row
  .col-md-offset-3.col-md-6.text-center
    = will_paginate @goods

