= goods_breadcrumbs(@filter.category)

= form_for :filter, url: category_goods_path(@filter.category), method: :get do |f|
  = f.select :season, [['Весна - Лето', 'summer'], ['Осень - Зима', 'winter']], include_blank: true
  = f.collection_select :brand_id, Brand.all, :id, :title, include_blank: true, class: 'form-control'
  = f.collection_select :size_id, Size.all, :id, :name, include_blank: true
  = f.submit 'Найти'

.row
  .col-md-6.text-left
    [TODO: BRAND AND SIZE filters ]
  .col-md-6.text-right
    = will_paginate @goods

.row
  .col-md-offset-3.col-md-6.text-center
    .h3
      = @filter.category.name

.row
  .col-md-offset-3.col-md-6.text-center
    = "Найдено #{@goods.count} товаров"

.row
  .col-md-offset-3.col-md-6.text-center
    [TODO: brands of these category]


- @goods.in_groups_of(4).each do |group|
  .row
    - group.each do |good|
      - if good
        = render partial: 'good_cell', locals: {good: good}

.row
  .col-md-offset-3.col-md-6.text-center
    = will_paginate @goods
