- content_for :meta_tags do
  = @filter.category.meta_tags.try(:html_safe)

- content_for :meta_title do
  = @filter.category.meta_title

.page-header
  %h3
    #{@filter.category.name}
    %small Найдено #{@goods.count} товаров

= render partial: 'filter_form'

- @goods.in_groups_of(3).each do |group|
  .row
    - group.each do |good|
      - if good
        = render partial: 'good_cell', locals: { good: good }

.row
  .col-xs-offset-3.col-xs-6.text-center
    = will_paginate @goods
