.page-header
  .h3 #{@good.title}, #{@good.brand.title}

.row
  .col-xs-2.text-center#gallery
    - @good.images.each do |image|
      = link_to '#', data: { image: image.url(:big), zoom_image: image.url(:original_watermarked) }, class: 'preview thumbnail col-xs-offset-2 col-xs-8' do
        = image_tag image.url(:preview)

  .col-xs-5.text-center.big_image
    - if @good.main_image
      = image_tag @good.main_image.url(:big), data: { zoom_image: @good.main_image.url(:original_watermarked) }

  .col-xs-5
    .h5.text-muted Артикул: #{@good.article}

    %h5 Цвет: #{@good.color}
    %h5 Страна дизайна: #{@good.design_country.name}
    %h5 Страна производитель: #{@good.origin_country.name}

    .h5{ style: 'display:inline;' } Доступные размеры:

    .btn-group.sizes{ data: { toggle: 'buttons' } }
      - @good.sizes.each do |size|
        %label.btn.btn-default
          = radio_button_tag :size, size.name
          = size.name

    %em{ style: 'display:none', id: 'size_alert' }
      %div{ class: 'text-danger', style: 'display:inline' }
        %b Необходимо выбрать размер!
    %br
    %br
    .panel.panel-success
      .panel-heading
        %h4.panel-title
          Состав
      .panel-body
        = @good.consist

    .panel.panel-success
      .panel-heading
        %h4.panel-title
          Описание
      .panel-body
        = @good.description

    %h4
      Цена:
      - if @good.has_discount?
        %del
          = number_to_currency(@good.price)
      %span.label.label-danger{ style: 'font-size:120%;' }
        = number_to_currency(@good.cost)

    - if @good.count_in_stock > 0
      = link_to '#', class: 'add_good_to_basket btn btn-block btn-success', data: { good_id: @good.id } do
        %span.glyphicon.glyphicon-plus
        Добавить в корзину
      = hidden_field_tag :goods_count, @good.count_in_stock, id: 'goods_count_in_stock'
    - else
      = link_to 'Товара нет в наличии', '#', class: 'btn btn-block btn-danger', disabled: true