= form_for [:admin, @category] do |f|

  = render partial: 'partials/errors', locals: { model: @category }

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :parent_id
    = f.collection_select :parent_id, Category.roots.order(:name), :id, :name, { include_blank: true }, class: 'form-control'

  .form-group
    = f.label :meta_title
    = f.text_field :meta_title, class: 'form-control'

  .form-group
    = f.label :meta_tags
    = f.text_area :meta_tags, class: 'form-control', rows: 6

  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'
