= form_for [:admin, @category]  do |f|

  = render partial: 'partials/errors', locals: { model: @category }

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.submit t('actions.save'), class: 'btn btn-primary'