= content_for :assets do
  = javascript_include_tag 'sortable_pack'
  = stylesheet_link_tag 'sortable_pack'

= content_for :page_title do
  = t('category.categories')

%h1.page-header
  = t('category.categories')

%ol.sortable_tree{ data: { max_levels: 2, rebuild_url: rebuild_admin_categories_url } }
  = sortable_tree @categories, title: :name

= content_for :side_bar do
  = add_button(new_admin_category_path)