.page-header
  %h3 Заказать обратный звонок

= form_for @back_call, url: back_calls_path, method: :post, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, class: 'col-xs-offset-1 col-xs-3 control-label'
    .col-xs-4
      = f.text_field :name, class: 'form-control'
      = error_text(:name, @back_call)

  .form-group
    = f.label :phone, class: 'col-xs-offset-1 col-xs-3 control-label'
    .col-xs-4
      = f.text_field :phone, class: 'form-control'
      = error_text(:phone, @back_call)

  .col-xs-offset-5.col-xs-2
    = f.submit 'Заказать', class: 'btn btn-primary btn-block'
