%h2.page-header
  = t('user.users')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('email')
        %th
          = human_name('name')
        %th
          = human_name('is_admin')
        %th
          = human_name('last_sign_in_at')
        %th
          = human_name('created_at')
        %th(width=70)

    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.email
          %td= user.is_admin
          %td= user.last_sign_in_at
          %td= l(user.created_at, format: :long)
          %td
            = show_button(admin_user_path(user))
            = edit_button(edit_admin_user_path(user))
            = delete_button(admin_user_path(user))

= content_for :side_bar do
  = add_button(new_admin_user_path)
