= content_for :page_title do
  = t('user.show')

= content_for :side_bar do
  = back(admin_users_path)
  = edit_button(edit_admin_user_path(@user))

= content_for :main_content do

  %p
    %strong
      Email:
    = @user.email