= content_for :page_title do
  = t('good.goods')

%h1.page-header
  = t('good.goods')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('title')
        %th
          = human_name('size')
        %th
          = human_name('article')
        %th
          = human_name('color')
        %th
          = human_name('consist')
        %th
          = human_name('brand')
        %th
          = human_name('origin_country')
        %th
          = human_name('design_country')
        %th
          = human_name('count_in_stock')
        %th
          = human_name('season')
        %th
          = human_name('price')
        %th(width=70)

    %tbody
      - @goods.each do |good|
        %tr
          %td= good.id
          %td= good.title
          %td= good.sizes.map(&:name).join('; ')
          %td= good.article
          %td= good.color
          %td= good.consist
          %td= good.brand.title
          %td= good.origin_country.name
          %td= good.design_country.name
          %td= good.count_in_stock
          %td= good.season
          %td= good.price
          %td
            = show_button(admin_good_path(good))
            = edit_button(edit_admin_good_path(good))
            = delete_button(admin_good_path(good))

= content_for :side_bar do
  = add_button(new_admin_good_path)