%h2.page-header
  = t('good.goods')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th(width=10)
          ID
        %th
          = human_name('title')
        %th
          = human_name('size')
        %th
          = human_name('article')
        %th
          = human_name('color')
        %th
          = human_name('brand')
        %th
          = human_name('count_in_stock')
        %th
          = human_name('season')
        %th
          = human_name('price')
        %th
          = human_name('main_image')
        %th
          = human_name('images')

        %th(width=70)

    %tbody
      - @goods.each do |good|
        %tr
          %td= good.id
          %td= good.title
          %td= good.sizes.map(&:name).join('; ')
          %td= good.article
          %td= good.color
          %td= good.brand.title

          %td
            %b
              = good.count_in_stock
          %td= t("good.seasons.#{good.season}")
          %td= number_to_rubls(good.price)
          %td
            - if good.main_image.present?
              = image_tag(good.main_image.picture.url(:admin_thumb))
          %td
            = good.images.count
            = link_to '(Изменить)', edit_admin_good_image_path(id: good.id)

          %td
            = show_button(admin_good_path(good))
            = edit_button(edit_admin_good_path(good))
            = delete_button(admin_good_path(good))

= will_paginate @goods

= content_for :side_bar do
  = add_button(new_admin_good_path)