= content_for :page_title do
  = t('good.show')

= content_for :side_bar do
  = back(admin_goods_path)
  = edit_button(edit_admin_good_path(@good))

.row
  .col-md-6
    %p
      %strong
        = human_name('title')
      = @good.title
    %p
      %strong
        = human_name('article')
      = @good.article
    %p
      %strong
        = human_name('color')
      = @good.color
    %p
      %strong
        = human_name('sizes')
      = @good.sizes.map(&:name).join(', ')

    %p
      %strong
        = human_name('consist')
      = @good.consist

    %p
      %strong
        = human_name('origin_country')
      = @good.origin_country.name

    %p
      %strong
        = human_name('design_country')
      = @good.design_country.name

    %p
      %strong
        = human_name('count_in_stock')
      = @good.count_in_stock

    %p
      %strong
        = human_name('price')
      = number_to_rubls(@good.price)
  .col-md-6
    = image_tag(@good.main_image(:big), class: 'img-thumbnail')