!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ content: 'https://github.com/rossmari', name: 'description' }
    %meta{ content: 'Rossmari', name: 'author' }
    = csrf_meta_tags

    %title Fresh Styles

    = stylesheet_link_tag 'bootstrap_manifest', 'admin'
    = javascript_include_tag 'admin'

    = yield(:assets)

    -#HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    -#WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      %script{ src: 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' }
      %script{ src: 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' }

  %body
    .navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
      .container-fluid
        .navbar-header
          = link_to 'FreshStyle', root_path, class: 'navbar-brand'

        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            = admin_menu
            %li
              = link_to destroy_user_session_path, method: :delete do
                %span.glyphicon.glyphicon-off

    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li{ class: "#{'active' if controller_name == 'orders'}" }
              = link_to admin_orders_path do
                Заказы
                %span.badge
                  = Order.count_of_new
                %span.badge
                  = Order.count
            %li{ class: "#{'active' if controller_name == 'back_calls'}" }
              = link_to admin_back_calls_path do
                Обратные звонки
                %span.badge
                  = BackCall.new_calls.count

            %li{ class: "#{'active' if controller_name == 'client_messages'}" }
              = link_to admin_client_messages_path do
                Отзывы
                %span.badge
                  = ClientMessage.new_messages.count

          = yield(:side_bar)
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = render 'admin/shared/flashes'
          = yield
