!!!
%html{'data-ember-extension' => '1', :lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    %link{:href => '../../favicon.ico', :rel => 'icon'}/
    %title Carousel Template for Bootstrap

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: 'partials/navbar'
    %div{class: 'container', style: 'padding-top: 120px;'}
    %div{ class: 'container' }
      = yield

