!!!
%html{'data-ember-extension' => '1', :lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}/
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    %link{:href => '../../favicon.ico', :rel => 'icon'}/
    %title Fresh Style

    = stylesheet_link_tag 'bootstrap_manifest.css'
    = stylesheet_link_tag 'application.css'
    = javascript_include_tag 'application.js'
    = csrf_meta_tags

  %body
    = render partial: 'partials/navbar'

    - if controller_name == 'main'
      = yield

    - else
      %div{class: 'container', style: 'padding-top: 120px;'}
      %div{ class: 'container' }
        = yield

